/*********************
// FRONT
*********************/

/********** General *********/

html {
  background-color: #312E81;
}

main {
  min-height: 100vh;
}

input {
  outline: none;
  padding: 4px 8px !important;
  background-color: transparent;
  border-bottom: 1px solid #fff;
}

input::placeholder {
  color: rgba(255, 255, 255, 0.8) !important;

}

/********** Header *********/

.header__title svg {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: #FFF;
}

.header__main-nav-link {
  display: inline-block;
}

.header__main-nav-link-txt,
.header__second-nav-link-txt {
  z-index: 1;
  position: relative;
}

.header__main-nav-link-txt::before,
.header__second-nav-link-txt::before {
  z-index: -1;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #312E81;
  opacity: 0;
  transition: all 200ms ease-in;
}

.header__main-nav-link.router-link-exact-active .header__main-nav-link-txt::before,
.header__main-nav-link:hover .header__main-nav-link-txt::before, 
.header__second-nav-link.router-link-exact-active .header__second-nav-link-txt::before,
.header__second-nav-link:hover .header__second-nav-link-txt::before {
  bottom: 0;
  opacity: 1;
}


/********** Footer *********/

.footer__title svg {
  display: inline-block;
  width: 32px;
  height: 32px;
  fill: #FFF;
}

.footer__main-nav-link {
  display: inline-block;
}

.footer__main-nav-link-txt {
  z-index: 1;
  position: relative;
}

.footer__main-nav-link-txt::before {
  z-index: -1;
  content: '';
  position: absolute;
  bottom: -4px;
  left: 0;
  width: 100%;
  height: 8px;
  background-color: #222;
  opacity: 0;
  transition: all 200ms ease-in;
}

.footer__main-nav-link.router-link-exact-active .footer__main-nav-link-txt::before,
.footer__main-nav-link:hover .footer__main-nav-link-txt::before {
  bottom: 0;
  opacity: 1;
}


/********** Home *********/

.home__nav-item {
  cursor: pointer;
  transition: all 200ms ease-out;
}

.home__nav-item.active,
.home__nav-item:hover {
  background-color: #4F46E5;
  --tw-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

.id-card {
  width: 600px;
  max-width: 90%;
  margin: 25px auto;
}


/********** Artistes/Groupes *********/

.artiste__img {
  height: 260px;
  max-height: 260px;
  margin: 0 auto;
}

.artiste__back-link {
 cursor: pointer;
}

.artiste__back-link-svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  fill: #fff;
}


/*********************
// BACK
*********************/

.admin__nav {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 600px;
  max-width: 100%;
  margin: 0 auto;
  padding: 0;
}

.admin__nav-item {
  cursor: pointer;
  margin: 4px;
  padding: 8px 16px;
  border: 2px solid #222;
  border-radius: 4px;
  background-color: #fff;
  color: #222;
  transition: all 150ms ease-out;
}

.admin__nav-item.active,
.admin__nav-item:hover {
  background-color: #222;
  color: #fff;
}
